

/* Header styles start  */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-around;
   background-color: #FF5959;
    flex-wrap: wrap;
    align-items: center;
   
}
.nav-container ul{
    display: flex;
   

}

.nav-container ul li{
    list-style: none;
    margin-left: 15px;
    font-size: 19px;
   
}
   


.nav-container ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 15px 15px;
}

.logo-letter{
    font-size:50px;
}

.nav-container ul li:hover{
    background-color: black;
    cursor: pointer;
}

  /* Banner section start  */
  .banner{
    background-image: url(/images/donation1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
  }
  .banner-container{
    text-align: center;
    padding-top: 275px;
  }
  .banner-title{
    color: white;
    font-size: 35px;
  }
  .banner-description{
    color: white;
    font-size: 14px;
    padding: 15px 15px;
  }
  .btn-primary{
    padding: 10px 12px;
    background-color: #FF5959;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 350;
  }

   /* Donate section start  */

   .donate{
    background-color: cornsilk;

   }

  .donate-container{
     text-align: center;
    padding-top: 130px;
    margin: 0 400px;
   
  }
  .donate-description{
    color: #707070;
    font-size: 14px;
    padding: 15px 15px;
    margin-bottom: 60px;
  }
  .amount{
    display: flex;
    justify-content: space-around;
  }

  hr{
    margin-bottom: 20px;
  }
  .amount-item{
    color: #707070;
    background: #FAFAFA;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
  }
  .amount-item1{
    border: 1px solid #FF5959;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 80px;
  }
  .taka{
    color: #707070;
    border: 1px solid #FF5959;
    padding: 25px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
  }
  .amount-other{
    margin-top: 60px;
    color: #B3B3B3;
    font-size: 20px;
   
    
  }

  /* plan style start  */
  .plan-container{
    text-align: center;
    margin-top: 50px;
  }
  .plan-description{
    color: #707070;
    font-size: 14px;
    margin-top: 20px;
  }

  .card-item1{
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 8px 8px 8px black;
    width: 300px;
    height: 360px;
    background-color: rgba(79, 157, 166, 0.1);
   
  }
  .card-item2{
    padding-left: 10px;
   box-shadow: 8px 8px 8px black;
    border-radius: 5px;
    width: 300px;
    height: 360px;
    background-color:rgba(255, 89, 89, 0.1);
   
  }
  .card-item3{
    border-radius: 5px;
    width: 300px;
    height: 360px;
    background-color: rgba(255, 89, 89, 0.274);
    box-shadow: 8px 8px 7px black;
    padding-left: 10px;
   
  }
  .card-item p{
    color: #707070;
    font-weight: 400;
    margin-top: 25px;
  }

  .card-item h3{
    font-size: 24px;
    margin-top: 20px;
  }
  .icon{
    font-size: 35px;
    padding: 10px 5px;
  }

  .card-container{
    display: flex;
    justify-content: space-between;
    margin: 35px 150px;
    padding: 0 0 8px 10px;
  }


  /* depend style start  */

  .depend-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 100px 150px;
  }

  .depend-description p{
    margin-bottom: 20px;
    padding: 0 10px;
  }

  /* Survive styles start  */
  .survive{
    margin-bottom: 30px;
  }
  .survive-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px;
  }

  .survive-description p{
    margin-bottom: 25px;
  
  }

  /* update section start  */
  
  .update-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }
  

  
 